<ion-view title="About">
    <ion-tabs>

        <ion-tab>
            <ion-content class="has-header">

                <div class="item item-divider">
                    Jain Temple
                </div>
<!--                <img src="img/ionic.jpg" class="img-half">-->
<!--                <div class="item item-divider">About</div>-->
<!--
                <p class="padding text-justify">Vivek Pandit is a real Social Activists as he has not just committed about activities but he has done successful social campaigns in favor of society.</p>
                <div class="item item-divider">Biography</div>
-->
                <p class="padding text-justify">A Jain temple is the place of worship for Jains, the followers of Jainism, Derasar is a word used for a Jain temple in Gujarat and Rajasthan. Basadi is a Jain shrine or temple.<br> The word is generally used in South India, including Maharashtra.<br> Its historical use in North is preserved in the names of the Vimala Vasahi and Luna Vasahi temples of Mount Abu. The Sanskrit word is vasati, it implies an institution including residences of scholars attached to the shrine.</p>

            </ion-content>
        </ion-tab>
<!--
        <ion-tab title="मराठी">

            <ion-content class="has-header">

                <div class="item item-divider">
                
बाळासाहेब थोरात
                </div>
                <img src="img/ionic.jpg" class="img-half">
                <div class="item item-divider">आमच्या बद्दल</div>
                <p class="padding text-justify">
                दि.०७/०२/१९५३ मौजे जोर्वे, तालुका – संगमनेर येथील स्वातंत्र्यसैनिक व प्रगतशील शेतकरी श्री.भाऊसाहेब संतुजी थोरात यांच्या कुटुंबात जन्म.<br>
सर डी.एम.पेटीट हायस्कूलमध्ये माध्यमिक शिक्षण. <br>
संगमनेर महाविद्यालयात महाविद्यालयीन शिक्षण.<br>
पुणे येथील फर्ग्युसन महाविद्यालयात कायद्याचे शिक्षण. कायद्याचे शिक्षण घेत असतानाच महाविद्यालयातील विद्यार्थ्यांच्या सभा घेऊन पाणी प्रश्नावर पाणी पंचायत द्वारा लोकमत जागृती, मीटर हटाव, परीक्षा फी माफी इत्यादी चळवळीत सहभाग.<br>
विडी कामगार व शेतकऱ्यांच्या प्रश्नावरील चळवळीमध्ये विसापूर जेलमध्ये ९ दिवस कारावास.<br>
संगमनेरला १३२ के.व्ही.सबस्टेशन व्हावे यासाठी चळवळीत सहभाग.<br>
मराठवाडा विद्यापीठाच्या नामांतर चळवळीमध्ये सक्रीय सहभाग.<br>
संगमनेर तालुका सहकारी दुध उत्पादक व प्रक्रिया संघावर संचालक म्हणून बिनविरोध निवड.<br>
अमृतवाहिनी सहकारी दुध उत्पादक संस्था, जोर्वे या संस्थेच्या चेअरमनपदी बिनविरोध निवड.<br>
संगमनेर येथे १.०० लाख लिटर्स क्षमतेच्या शासकीय दुग्ध शाळेची स्थापना करण्यात यश.<br>
संगमनेर तालुका सहकारी दुध उत्पादक व प्रक्रिया संघावर चेअरमनपदी बिनविरोध निवड. जुलै १९९३ पर्यंत सलग चेअरमनपदाची यशस्वीरित्या धुरा सांभाळली.<br>
संगमनेर तालुका सहकारी साखर कारखान्याच्या संचालकपदी बिनविरोध निवड.<br>
संगमनेर तालुका सहकारी साखर कारखान्याच्या चेअरमनपदी बिनविरोध निवड.<br>
नॅशनल हेवी इंजिनिअरींग को-ऑप.लि.नवी दिल्ली या संस्थेच्या संचालक पदी बिनविरोध निवड.<br>
संगमनेर भाग सहकारी साखर कारखान्याच्या संचालकपदी प्रचंड मताधिक्याने निवड.<br>
महाराष्ट्र प्रदेश कॉंग्रेस (आय) कमिटीच्या सरचिटणीसपदी निवड.<br>
संगमनेर विधानसभा मतदार संघातून इंदिरा कॉंग्रेसपक्षाचे उमेदवार म्हणून सलग चौथ्यांदा फेर निवड.<br>
महाराष्ट्र राज्याच्या मंत्रीमंडळात पाटबंधारे व लाभक्षेत्र विकास राज्यमंत्री म्हणून समावेश.<br>
संगमनेर विधानसभा मतदार संघातून कॉंग्रेस (आय) पक्षाचे अधिकृत उमेदवार म्हणून बहुमताने ७५,७५७ अश्या विक्रमी मताधिक्याने विजयी.<br>
दि.९/११/२००४ रोजी कॅबिनेटमंत्री म्हणून निवड.<br>
दि.१३/११/२००४ महाराष्ट्र राज्याच्या मंत्रीमंडळात कृषी जलसंधारण, खार जमीन कॅबिनेटमंत्री म्हणून निवड.<br>
लातूर जिल्ह्याचे पालकमंत्रीपदी नियुक्ती.<br>
संगमनेर विधानसभा मतदार संघातून कॉंग्रेस (आय) पक्षाचे अधिकृत उमेदवार म्हणून बहुमतांनी विजयी.<br>
दि.०७/११/२००९ रोजी महाराष्ट्र राज्याचे मंत्रिमंडळात कृषी, जलसंधारण, रोजगार हमी योजना व शालेय शिक्षण खात्याचे कॅबिनेटमंत्री म्हणून निवड.<br>
दि.१३/११/२००९ रोजी महाराष्ट्र राज्याचे मंत्री मंडळात समावेश झाल्याबद्दल संगमनेर येथे जाहीर नागरी सत्कार.<br>
महाराष्ट्राची उपराजधानी नागपूर जिल्याचे पालकमंत्री पदी नियुक्ती.<br>
महाराष्ट्र राज्याचे मंत्रीमंडळात मा.ना.पृथ्वीराज चव्हाण यांचे मंत्रिमंडळात महसूल व खार जमीन खात्याचे कॅबिनेटमंत्री म्हणून निवड.<br>
औरंगाबाद जिल्ह्याचे पालकमंत्री म्हणून निवड तसेच नाशिक जिल्ह्याचे संपर्कमंत्री म्हणून निवड.<br>
  </p>
            </ion-content>
        </ion-tab>
-->
    </ion-tabs>
</ion-view>
