<ion-view title="Audio Gallery">  
    <ion-content class="has-header">
        <div class="list">
            <div class="item padding">
                <p>Audio</p>
                    <audio  class="" controls >
                      <source src="http://localhost/jainbackend/politician/uploads/Dj_Chetas_-_Break_Up_Mashup.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                    </audio>
            </div>
        </div>
    </ion-content>
</ion-view>