<ion-view title="Constituency Details">
    <ion-tabs>

        <ion-tab title="English">
            <ion-content class="has-header">
                <div class="item item-divider item-icon-right">
<!--                    Palghar-->
                </div>

                <div class="padding text-justify">
                    <p class="padding text-justify">
                        Elected as a Congress Party (I) as a MLA for Consecutive 6th term with a highest margin of vote in Ahmednagar District on 13/10/2009.
                    </p>
                    
                </div>
               


            </ion-content>
        </ion-tab>
        <ion-tab title="मराठी">
            <ion-content class="has-header">
                <div class="item item-divider item-icon-right">
<!--                     पालघर-->
                </div>

                <div class="padding text-justify">
                    <p class="padding text-justify">संगमनेर विधानसभा मतदार संघातून कॉंग्रेस (आय) पक्षाचे अधिकृत उमेदवार म्हणून बहुमताने ७५,७५७ अश्या विक्रमी मताधिक्याने विजयी. </p>
                   
</div>
            </ion-content>
        </ion-tab>

    </ion-tabs>
</ion-view>
