<!--
<ion-view title="Balasaheb Thorat">
    <ion-content class="has-header">
       
        <div class="grid">
            <div class="row">
                <div class="col col-100">
                    <a href="#/app/about">
                        <i class="icon ion-man"></i>
                        <p>About</p>
                    </a>
                </div>
                
            </div>
            <div class="row">
                <div class="col col-100">
                    <a href="#/app/photos">
                        <i class="icon ion-image"></i>
                        <p>Photos</p>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col col-100">
                    <a href="#/app/videos">
                        <i class="icon ion-film-marker"></i>
                        <p>Video Gallery</p>
                    </a>
                </div>
                
                <div class="col col-33">
                    <a href="#/app/twitter">
                        <i class="icon ion-social-twitter"></i>
                        <p>Twitter</p>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col col-100">
                    <a href="#/app/audio">
                        <i class="icon ion-mic-a"></i>
                        <p>Audio Gallery</p>
                    </a>
                </div>
                
            </div>
            <div class="row">
                <div class="col col-100">
                    <a href="#/app/book">
                        <i class="icon ion-ios7-paper"></i>
                        <p>Books</p>
                    </a>
                </div>
                
            </div>
            <div class="row">
               
                <div class="col col-100">
                    <a href="#/app/upload">
                        <i class="icon ion-paperclip"></i>
                        <p>Share</p>
                    </a>
                </div>
            </div>
            <div class="row">
               
                <div class="col col-100">
                    <a href="mailto:info@wohlig.com?subject=Enquiry%20for%20Politician%20App">
                        <i class="icon ion-email"></i>
                        <p>Enquiry Mail</p>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
-->
   <ion-view title="Jain Temple">
   
    <ion-content class="has-header">
        <div class="list">

          <a class="item item-icon-left" href="#/app/about">
            <i class="icon ion-man"></i>
            About
          </a>
          
          <a class="item item-icon-left" href="#/app/photos">
            <i class="icon ion-image"></i>
            Photos
          </a>
          <a class="item item-icon-left" href="#/app/videos">
            <i class="icon ion-film-marker"></i>
            Videos
          </a>
          <a class="item item-icon-left" href="#/app/audio">
            <i class="icon ion-mic-a"></i>
            Audio
          </a>
          <a class="item item-icon-left" href="#/app/book">
            <i class="icon ion-ios7-paper"></i>
            Books
          </a>
          <a class="item item-icon-left" href="#/app/upload">
            <i class="icon ion-paperclip"></i>
            Share
          </a>
          <a class="item item-icon-left" href="mailto:info@wohlig.com?subject=Enquiry%20for%20Politician%20App">
            <i class="icon ion-email"></i>
            Enquiry Mail
          </a>
<!--

          <a class="item item-icon-left item-icon-right" href="#">
            <i class="icon ion-chatbubble-working"></i>
            Call Ma
            <i class="icon ion-ios7-telephone-outline"></i>
          </a>

          <a class="item item-icon-left" href="#">
            <i class="icon ion-mic-a"></i>
            Record album
            <span class="item-note">
              Grammy
            </span>
          </a>

          <a class="item item-icon-left" href="#">
            <i class="icon ion-person-stalker"></i>
            Friends
            <span class="badge badge-assertive">0</span>
          </a>
-->

        </div>
    </ion-content>
</ion-view>
