<ion-view title="Share">
    <ion-content class="has-header">
<!--
<div class="padding">    <h1 class="politics text-center" style="font-size:90px"><i class="icon ion-paperclip"></i></h1>    <h3>{{msg}}</h3>    <form action="http://emahapolitician.in/politician/politician/index.php/upload/create" method="post" enctype="multipart/form-data">        <label class="item item-input">            <textarea placeholder="Share with us" name="text"></textarea>        </label>        <label for="file">Filename:</label>        <input type="file" name="file" id="file"><br>        <input type="submit" name="submit" value="Share"  class="button button-block button-politics">    </form></div>
<a class="button" ng-click="showPopup();"> Pop Up</a>
-->
        
        <iframe src="share.html" frameborder="0" width="100%" height="500"></iframe>
        
    </ion-content>
</ion-view>
