<script type="text/javascript">
function AppCtrl($scope, $sce) {
    // ...
    $scope.setProject = function (id) {
      $scope.currentProject = $scope.projects[id];
      $scope.currentProjectUrl = $sce.trustAsResourceUrl($scope.currentProject.url);
    }
}
</script>
   <ion-view title="Video Gallery">  
    <ion-content class="has-header">
        <div class="list">
            <div class="item padding">
                <p>Patan Gujrat Jain Temple</p>
<!--                <iframe style="overflow:hidden;width:100%;overflow:hidden;width:100%" width="100%" src="https://www.youtube.com/embed/b6ASHW4xvZw" frameborder="0" allowfullscreen></iframe>-->
                <iframe style="overflow:hidden;width:100%;overflow:hidden;width:100%" width="100%" src="http://www.youtube.com/embed/h_yLSwPZNTo" frameborder="0" allowfullscreen></iframe>
<!--                <iframe width="640" height="390" src="//www.youtube.com/embed/h_yLSwPZNTo" frameborder="0" allowfullscreen></iframe>-->
            </div>
        </div>
    </ion-content>
</ion-view>

